@font-face {
    font-family: Fjalla_One;
    src: url(Fjalla_One/Fjalla_One.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto/Roboto-Regular.ttf);
}
html,
body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

h2, h3, h4, p, button{
    font-family: 'Roboto-Regular';
}

h1{
    font-family: 'Fjalla_One';
    font-size: 38px;
    letter-spacing: 3px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 18px;
}

img{
    height: 40px;
    width: 40px;
}

#dashboard-container{
    height: 100%;
    --theme-color: rgb(82, 156, 82);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar{
    grid-row: 1 / -1;
    background-color: var(--theme-color);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

#logo-header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#logo{
    height: 65px;
    width: auto;
}

#page-heading{
    text-align: right;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    transform-origin: 20% center;
}

li:hover{
    animation: highlight-selection ease 0.15s forwards;
}

@keyframes highlight-selection{
    100% {filter: invert(100%); transform: scale(1.1)};
}

#navigation{
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
    padding: 25px 5% 25px 5%;
    background-color: white;
    box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#search-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notification-container,
#search-bar-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

#search-bar-container{
    width: 60%;
}

#search{
    background-image: url('social-media-icons/search.png');
    height: 38px;
    width: 38px;
}

#search-bar{
    flex-grow: 1;
    border: none;
    height: 38px;
    background-color: lightgray;
    border-radius: 19px;
    outline: none;
    padding: 0 16px 0 16px;
    font-size: 20px;
}

#notification-container{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

#notification{
    background-image: url('social-media-icons/notification.png');
    height: 38px;
    width: 38px;
}

#profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-info-container,
#profile-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.profile-button{
    font-size: 18px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(82, 156, 82);
    border: none;
}

.profile-button:hover{
    animation: hover-profile-button ease 0.15s forwards;
}

@keyframes hover-profile-button{
    100% {transform: scale(1.15)}
}

#dashboard{
    --content-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.4);
    --content-padding: 25px;
    --content-border-radius: 20px;
    grid: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr;
    gap: 50px;
    padding: 50px;
    background-color: rgb(224, 224, 224);
    z-index: 0;
}

#project-dashboard,
#announcement-dashboard,
#trending-dashboard{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#project-dashboard{
    grid-row: 1;
}

#project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

.project-card{
    display: grid;
    background-color: white;
    border-left: var(--theme-color) solid 10px;
    border-radius: var(--content-border-radius);
    padding: var(--content-padding);
    box-shadow: var(--content-shadow);
}

.project-card:hover{
    animation: hover-project-card ease 0.15s forwards;
}

@keyframes hover-project-card{
    100% {transform: scale(1.05)}
}

.utility-icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

#info-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;
}

.info-container{
    background-color: white;
    border-radius: var(--content-border-radius);
    padding: var(--content-padding);
    box-shadow: var(--content-shadow);
    min-width: 200px;
    padding: 0 25px;
}

.announcement,
.profile-info{
    padding: 25px 0;
}

.announcement-description{
    margin: 0;
    padding: 20px 0 0 0;
}

hr{
    margin: 0;
}

.profile-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.profile,
.large-profile{
    border-radius: 50%;
    border: solid rgb(155, 155, 155) 1px;
    flex-shrink: 0;
}

.profile,
.large-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile{
    height: 80px;
    width: 80px;
}

.profile-picture{
    height: auto;
    width: 130%;
}

.large-profile{
    height: 120px;
    width: 120px;
}

.favorite{
    background-image: url('social-media-icons/favorite.png');
}

.location{
    background-image: url('social-media-icons/location.png');
}

.share{
    background-image: url('social-media-icons/share.png');
}

.utility-icon{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.utility-icon:hover{
    animation: hover-icon ease 0.15s forwards;
}

@keyframes hover-icon{
    100% {transform: scale(1.3)};
}